public class kaffemühle

{
	
	main()
	{
		set.1fachkapazität(100.0);
		openFach1(open);
		befüllen(50.0);
		closefach1(close);
		bohnennehmem(40);
		mahlen(40,20)
		set.2fachkapazität(50);
		openFach2(open);
		entnahme(20);
		closefach2(close);
	}
	
}
	