public class kaffemühle

{
	KaffeBohnen kB;
	Gemahlenerkaffe gemK;
	Fachvoll fv;
	void mahlen(int gemK)
	{
		gemK = kB/0.5;
		fv = fv + 0.5
	}
	
	void befüllen(int kB)
	{
		kB = kb + kB;
	}
	
	void leeren (int fv)
	{
		
		if (fv = 10){STOP mahlen } ;
	}
}
	